<div class="jumbotron">
    <h2>Example of a long running Web-API request</h2>
    <p>
       Send a GET request to this url to let the API compute <a href="/api/compute/45">fibonacci(45)</a>.
    </p>
</div>
